<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная страница{% endblock %}</title>
</head>
<body>
  <header>
    {% block header %}
      <h1 style="text-align: center"> Главная страница </h1>
    {% endblock %}
  </header>

  <nav>
    {% block navigation %}
      <p>
        <a href="/">Главная страница</a>
      </p>
      <p>
        <a href="/game">Игры</a>
      </p>
      <p>
        <a href="/user">Регистрация</a>
      </p>
    {% endblock %}
  </nav>
  <main class="container-fluid">
    {% block content %}

    {% endblock %}
  </main>

</body>
</html>
